/* Author's own customizations */
nav ul {
  display: block;
  list-style-type: none;
  margin: 10px;
  padding-left: 0;
  width: 120px;
  float: right;
}

nav ul li {
  padding-left: 25px;
  border-bottom: solid 1px;
  position: relative;
  z-index: 1;
}

nav ul li a {
  text-decoration: none;
}

/* Media Queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
  nav ul {
    display: inline;
    width: 400px;
    margin-right: 20px;
  }

  nav ul li {
    display: inline;
    padding-right: 25px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
